.sidebar{
    padding-left: 20px !important;
    padding-right: 0px !important;
}

.sidebar-nav ul li p{
    margin-top: 0px !important;
    margin-bottom: 10px !important;

}

.sidebar-nav ul li ul li a{
    padding-top: 0px !important;
    padding-bottom: 0px !important;

}

.punctuation{
    color: floralwhite !important;
}

.number{
    color: floralwhite !important;
}

pre code{
    background-color: rgb(40, 44, 44) !important;
    color: floralwhite !important;
}

.keyword{
    color:tomato !important;
}

.builtin{
    color: tomato !important;
}

.operator{
    color: aqua !important;
}

.comment{
    color: lightsteelblue !important;
}

.string{
    color: limegreen !important;
}

.boolean{
    color: yellow !important;
}

code{
    background-color: rgb(224, 228, 228) !important;
    color: rgb(40, 44, 44) !important;
}

table{
    border: 0 !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.dataframe{
    font-size: 0.5rem !important;
}

.lang-{
    background-color: rgb(224, 228, 228) !important;
    color: rgb(40, 44, 44) !important;
}

.lang- .punctuation{
    color: rgb(40, 44, 44) !important;
}