h1 {
    font-size: 2.5rem !important;
    font-weight: bold !important;
}

h2 {
    font-size: 1.8rem !important;
    font-weight: bold !important;
    padding-top: 30px !important;
}

pre[data-lang]::after {
    content: "" !important;
}

.app-name{
    margin-bottom: 20px !important;
}

aside .search{
    margin-top:20px !important;
    margin-bottom: 20px !important;
}

aside .search .results-panel .matching-post a h2{
    font-size: 1.0rem !important;
}

.sidebar{
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: white !important;
}

.sidebar-nav{
    margin-top: 20px !important;
    height: 100% !important;
}

.sidebar-nav ul li p{
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    font-weight: 700 !important;
    color: rgb(78, 78, 78) !important;

}

.sidebar-nav ul li ul li a{
    padding-top: 0px !important;
    padding-bottom: 0px !important;

}

.punctuation{
    color: black !important;
}

.number{
    color: black !important;
}

pre code{
    background-color: rgb(250, 250, 250) !important;
    color: rgb(10, 10, 10) !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: rgb(211, 211, 211) !important;
    padding: 10px !important;
    line-height: 1.5 !important;
    font-size: 0.9rem !important;
}

.keyword{
    color:tomato !important;
}

.function{
    color: blue !important;
}

.builtin{
    color: tomato !important;
}

.operator{
    color: black !important;
}

.comment{
    color: rgb(171,85,0) !important;
}

.string{
    color: rgb(49,139,139) !important;
}

.boolean{
    color: tomato !important;
}

code{
    background-color: rgb(238, 238, 238) !important;
    color: black !important;
}

table{
    border: 0 !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    font-size: small !important;
}

.lang-{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(40, 44, 44) !important;
    border-style: none !important;
}

.lang- .punctuation{
    color: rgb(40, 44, 44) !important;
}